@{
    ViewData["Title"] = "Home Page";
}
<div style="color:white;">
<div class="text-center">
    <h4 class="display-4">Welcome to my hobby: basketball!</h4>
</div>

<div style="width: 75%;">
    <p>One of my favorite players is LeBron James. I admire that he is such a good player on and off of the court. 
        I am also in awe of his longevity. In his 20+ years he has always been the most entertaining person to watch in the NBA.
    </p>
    <img style="width: 50%;" src="~/img/lebron.jpeg" alt="Descriptive text for the image" asp-append-version="true" />

</div>
<br />
<div style="width: 75%;">
    <p>
        I have played basketball for almost my whole life. One of my goals for a long time was to learn how to dunk. 
        I remember a turning point for me was when we went to the state basketball tournament and watched the dunk contest. 
        It was amazing watching kids my age dunk from as far as the free throw line! I determined that I would join them. 
        Proudly, I can report that for several years during my highschool career I was able to get up and throw it down. 
    </p>
    <img style="width: 80%;" src="~/img/dunk.jpg" alt="Descriptive text for the image" asp-append-version="true" />

</div>
<br />
<div style="width: 75%;">
    <p>
        Nowadays, you will find me playing basketball recreationally with family and friends. In a short week I will have the pleasure of seeing LeBron James in person!
        Perhaps you are reading this
        and wondering: Can I dunk like that? The answer is yes! I can share with you the workout routines that enabled my success. 
        Click the button below for a free quote!
    </p>
        <button style="border-radius:10px; ">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Hobby">Get A Quote!</a>
        </button>
</div>
</div>